body {
  padding: 1.5em;
  background: #f5f5f5;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

#add-book-btn {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  background-color: #7799e7;
  border: none;
  padding: 0.5rem;
}

table {
  border: 1px #a39485 solid;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: left;
}

thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}

td,
th {
  padding: 1em 0.5em;
  vertical-align: middle;
}

.pages-header,
.status-header,
.del-header {
  text-align: center;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  font-size: 1rem;
}

td.book-pages,
td.book-status,
td.book-delete {
  text-align: center;
}

.status-btn,
.del-btn {
  font-size: 1rem;
  color: #222;
  width: 4rem;
}

.status-btn {
  border: none;
}

.unread {
  background-color: #f17c7c;
}

.read {
  background-color: lightgreen;
}

.del-btn {
  border: 1px solid #aaa;
}

/* Add book form */

dialog {
  padding: 2rem;
}

form {
  display: grid;
  height: 45vh;
  width: 25vw;
}

form h3 {
  margin-top: 0;
}

.text-input,
.page-input {
  height: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

fieldset {
  margin-bottom: 1rem;
  border: none;
  padding: 0;
}

fieldset legend {
  margin-bottom: 3px;
}

.form-btns {
  display: flex;
  justify-content: space-between;
}

.dialog-btn {
  font-size: 1rem;
}
